.container {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.elemento {
    display: inline-block;
    margin-bottom: 10px;
}

.form-control {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(66, 133, 244);
    color: white;
    font-size: 16px;
}

.btn-primary {
    background-color: rgb(66, 133, 244);
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 2px #99c5ff;
}